
@{
    ViewBag.Title = "_HeaderNavBar";
}
<style>
    #headnav
    {

        width:150px;
        height:50px;
        color:lightgray;
        float:left;
        text-align:center;
        font-size: 10px;

    }
    #headnav:hover{
        color:white;
    }
    .koszyk {
        float: right;
        height: 33px;
        text-align: center;
        font-size: 16px;
        color: darkgray;
        padding-top:13px;
    }
    .koszyk:hover {
        color: white;
    }
    #prawa
    {
        float:right;
        color:lightgray;
        margin-right:30px;
    }
    #prawa:hover{
        color:white;
    }
    #licznik_koszyka {
        float:right;
        border-radius:5px;
        height:16px;
        width:16px;
        background-color:lightgray;
        color:black;
        text-align:center;
        font-size:13px;
        font-weight:bold;
        padding-top:15px;
    }
    #user {
        float: left;
        color: lightgray;
        text-align:center;
        margin-top:7px;
    }
    h2{
        margin-top:70px;
    }
</style>

<div id="headnav">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-default">
            <div class="navbar-header">
                @Html.ActionLink("Biblioteka", "Index", "Home", new { area = "" }, new { @style = "font-size:22px; font-weight:bold;", @class = "navbar-brand" })
            </div>
            <div id="headnav">
                @Html.ActionLink("Załóż konto", "Konto", "Home", new { area = "" }, new { @style = "font-size:16px;margin-right:20px;", @class = "navbar-brand" })
            </div>
            <div id="headnav">
                @Html.ActionLink("Zaloguj", "Login", "Home", new { area = "" }, new { @style = "font-size:16px;", @class = "navbar-brand" })
            </div>
            <div id="headnav">
                @Html.ActionLink("Dodaj kategorie", "Dodaj_kategorie", "Home", new { area = "" }, new { @style = "font-size:16px;", @class = "navbar-brand" })
            </div>
            <div id="headnav">
                @Html.ActionLink("Lista Kategori", "Kategorie", "Home", new { area = "" }, new { @style = "font-size:16px;", @class = "navbar-brand" })
            </div>
            <div id="headnav">
                @Html.ActionLink("Ksiązki", "Ksiazki", "Home", new { area = "" }, new { @style = "font-size:16px;", @class = "navbar-brand" })
            </div>

            <div id="prawa">
                <div id="user">
                    <div id="naduser">
                        <h5>
                            <i class="icon-user-circle-o"></i>
                            @if (Session["login"] != null)
                            {@Session["login"].ToString()}
                        </h5>
                    </div>
                    <div id="poduser">
                        @if (Session["login"] != null)
                        {
                            <i class="icon-logout"></i>
                            <a id="wyg" href="@Url.Action("Logout","Home")">Wyloguj</a>
                        }
                    </div>
                </div>
                @Html.ActionLink("Koszyk", "Koszyk", "Home", new { area = "" }, new { @style = "font-size:16px;", @class = "navbar-brand" })
                <div class="koszyk">
                    <i class="icon icon-basket"></i> 
                    @if (Session["login"] != null)
                    {
                       @Session["Licznik"].ToString();
                    }
                </div>


            </div>
        </div>
        <div style="height:10px;width:100%;background-color:dimgrey;clear:both;">

        </div>
    </div>
    
</div>

