@model Biblioteka.Models.Book

@{
    ViewBag.Title = "BookDetails";
}

<h2>BookDetails</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutBooks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutBooks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.for_who)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.for_who)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "BookEdit", new { id = Model.BookID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
