@model Biblioteka.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>

        <dd>
            @ViewBag.Category
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.for_who_string)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.for_who_string)
        </dd>


    </dl>

</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookID }) |
    @Html.ActionLink("Pobierz obrazek", "Download", new { id = Model.BookID }, new { target = "_blank" }) |
    @Html.ActionLink("Pobierz spis treści", "Download2", new { id = Model.BookID }, new { target = "_blank" }) |
    @ViewBag.msg
    @Html.ActionLink("Back to List", "Index")
</p>
