@model IEnumerable<Biblioteka.Models.Book>

@{
    ViewBag.Title = "Index";
}

<div class="container mb-2 mt-3">

    @using (Html.BeginForm("Index", "Book", FormMethod.Post))
    {

    <div class="row">
        <div class="col-2">Szukaj po:</div>
        <div class="col-2">   @Html.RadioButton("searchby", "Title", true) <text>Tutuł</text></div>
        <div class="col-2">   @Html.RadioButton("searchby", "Category")<text>Kategoria</text></div>
        <div class="col-2">   @Html.RadioButton("searchby", "ISBN")<text>ISBN</text> </div>
        <div class="col-2">   @Html.RadioButton("searchby", "Year") <text>Rok</text></div>
        @Html.DropDownList("Kats", null, htmlAttributes: new { @class = "form-control mt-2" })
    </div>
        <div class="row mt-2">
            <div class="col-8">
                <input id="myInput" name="searching" class=" form-control flex-fill" type="text" placeholder="wyszukaj" aria-label="Wyszukaj" />
            </div>
            <div class="col-4 input-group">
                <input class="btn-dark  flex-fill" type="submit" value="Wyszukaj" />
            </div>
        </div>
    }
</div>

<div class="container">
    <div class="bg-warning" style="text-align:center;">
        @TempData["limit"]
    </div>
    <div class="table-responsive">
        <table class="table ">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Year)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Pages)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ISBN)
                    </th>


                    @*<th></th>*@
                </tr>
            </thead>
            <tbody id="myTable">
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td class="text-center" colspan="8" style="color:red">
                            Brak rezultatów zapytania.
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @item.Title
                            </td>
                            <td>
                                @item.Year
                            </td>
                            <td>
                                @item.Pages
                            </td>
                            <td>
                                @item.ISBN
                            </td>
                            <td>

                                @Html.ActionLink("Details", "Details", new { id = item.BookID }) |

                                @if (Session["IsAdmin"] != null)
                                {
                                    if (Session["IsAdmin"].ToString() == "1")
                                    {
                                    @Html.ActionLink("Edit |", "Edit", new { id = item.BookID })
                                    @Html.ActionLink(" Delete |", "Delete", new { id = item.BookID })
                                }

                                }
                                @if (Session["login"] != null)
                                {
                                    <i class="icon-plus-circled"></i>@Html.ActionLink("Dodaj do koszyka", "Koszyk2", "Home", new { id = item.BookID, kto = (Session["adminID"]) }, null)
                                }

                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>

</div>



<script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>