@model IEnumerable<Biblioteka.Models.Book>
@*@model dynamic*@
@{
    ViewBag.Title = "Ksiazki";
}

<h2>Ksiazki</h2>

<div>
    @using (Html.BeginForm())
    {
        @Html.DropDownList("Kats", null, htmlAttributes: new { @class = "form-control" }) <input type="submit" value="Pokaż" />
        <table>
            <tr>
                <th>Nr.</th>
                <th>Nazwa</th>
                <th>ID</th>
            </tr>

            @foreach (var b in Model)
            {
                <tr>
                    <td style="width:60px;">@b.BookID</td>
                    <td style="width:60px;">@b.Title</td>
                    <td style="width:60px;">@b.CategoryID</td>

                    <td style="width:60px;">@b.Year</td>
                    <td style="width:60px;">@b.Pages</td>
                    <td style="width:60px;">@b.ISBN</td>
                    <td style="width:60px;">@b.for_who_string</td>
                    <td style="width:60px;"><i class="icon-trash-empty"></i>@Html.ActionLink("Kasuj", "Delete", "Book", new { id = b.BookID }, new { onclick = "return confirm('Czy chcesz na pewno usunać?');" })</td>
                    <td>
                        @if (Session["login"] != null)
                        {
                            <i class="icon-plus-circled"></i>@Html.ActionLink("Dodaj do koszyka", "Koszyk2", "Home", new { id = b.BookID, kto = (Session["adminID"]) }, null)
                        }
                    </td>
                </tr>
            }
        </table>
    }
</div>
   
@*<div>
    @foreach (var c in Model.book)
    {
        foreach (var b in Model.cate)
        {
            foreach (var a in Model.auth)
            {
                <div>
                    @c.id_book - @c.title -
                    @if (@c.id_category == @b.id_category)
                    {
                        @b.name
                    }
                    -
                    @if (@c.id_author == @a.id_author)
                    {
                        @a.name

                        @a.surname
                    }

                    - @c.ISBN - @c.ilosc_str - @c.for_who
                    @if (Session["login"] != null)
                    {
                        <i class="icon-plus-circled"></i>@Html.ActionLink("Dodaj do koszyka", "Koszyk2", new { id = c.id_book, kto = (Session["adminID"]) })
                    }
                </div>
            }
        }

    }
</div>*@