@model IEnumerable<Biblioteka.Models.Book>

<p>
    Ostatnio dodane
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.for_who_string)
        </th>
        <th></th>
    </tr>
    @{int i=0;
    foreach (var item in Model)
    {
            
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @ViewBag.Category[i]
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.for_who_string)
            </td>

        </tr>
            i += 1;
        }
    }

</table>


