
@{
    ViewBag.Title = "Admin";
}

<style>
    .div
    {
        float:left;
        margin-left:auto;
        width:auto;
    }
    .links{
        color:black;
    }
    .links:hover{
        color:white;
    }

    #btn1:hover{
        background-color:darkgray;
        cursor:pointer;
        float:left;
    }
    #btn2:hover {
        background-color: darkgray;
        cursor:pointer;
        float:left;
    }
</style>

<div style="text-align:center;margin-top:15px;">
    <h2>Panel Administracji</h2>

    <div style="width:70%;margin-left:auto;margin-right:auto; background-color:cadetblue; border-radius:15px;height:70%; padding:15px;  ">

       <i class="icon-mail-alt"></i>  @Html.ActionLink("Wyślij maile!", "SendMails",null, new { @class="links" })


        <div style="color:red;">
            @ViewBag.Mails1
        </div>
        <div style="color:red;">
            @ViewBag.Mails2
        </div>

        @using (Html.BeginForm("Admin", "Admin", FormMethod.Post))
        {
            <div>
                <div class="div">
                    Długość wypożyczania:
                </div>
                <div class="div">
                    <input type="text" name="inputName" style="color:black;" class = "form-control" />
                    <input type="submit" style="color:black;" class = "form-control"  id="btn1"/>
                </div>
                @ViewBag.Longlife
                <div style="clear:both;"></div>
                <br />
                <div class="div">
                    Limit wypożyczonych:
                </div>
                <div class="div">
                    <input type="text" name="limit" style="color:black;" class = "form-control"/>
                    <input type="submit" style="color:black;" class = "form-control" id="btn2" />
                </div> 
                @ViewBag.Limit

                @*z formcollection*@
            </div>
        }
    </div>
</div>