@model Biblioteka.Models.Book

@{
    ViewBag.Title = "BookDetails";
}

<h2>BookDetails</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ilosc_str)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ilosc_str)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.for_who)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.for_who)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "BookEdit", new { id = Model.id_book }) |
    @Html.ActionLink("Back to List", "Index")
</p>
