@model Biblioteka.Models.Account
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div style="margin-left:auto;margin-right:auto;">
    <table align="center">
        <tr>
            <th style="text-align:right">@Html.DisplayNameFor(m => m.id_account): </th>
            <td>@Html.DisplayFor(m => Model.id_account) </td>
        </tr>
        <tr>
            <th style="text-align:right">@Html.DisplayNameFor(m => m.name): </th>
            <td>@Html.DisplayFor(m => Model.name)</td>
        </tr>
        <tr>
            <th style="text-align:right">@Html.DisplayNameFor(m => m.surname): </th>
            <td>@Html.DisplayFor(m => Model.surname)</td>
        </tr>
        <tr>
            <th style="text-align:right">@Html.DisplayNameFor(m => m.pesel) </th>
            <td>@Html.DisplayFor(m => Model.pesel)</td>
        </tr>
        <tr>
            <th style="text-align:right">@Html.DisplayNameFor(m => m.email) </th>
            <td>@Html.DisplayFor(m => Model.email)</td>
        </tr>
        <tr>
            <th style="text-align:right">@Html.DisplayNameFor(m => m.login): </th>
            <td>@Html.DisplayFor(m => Model.login)</td>
        </tr>
        <tr>
            <th style="text-align:right">@Html.DisplayNameFor(m => m.password): </th>
            <td>@Html.DisplayFor(m => Model.password)</td>
        </tr>
        
        <tr>
            <th style="text-align:right">@Html.DisplayNameFor(m => m.confirmedpassword): </th>
            <td>@Html.DisplayFor(m => Model.confirmedpassword)</td>
        </tr>
        <tr>
            <th style="text-align:right;width:80px;">Aktywne?: </th>
            <td style="background-color: red;">@Html.DisplayFor(m => Model.activ)</td>
        </tr>
        <tr>
            <th style="text-align:right">Rola: </th>
            <td>@Html.DisplayFor(m => Model.role)</td>
        </tr>
    </table>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.id_account })
</div>