@model Biblioteka.Models.Category
@{
    ViewBag.Title = "Dodaj_kategorie";
}

<h2>Dodaj_kategorie</h2>

<div>
    <div id="inner">
        @using (Html.BeginForm("Dodaj_kategorie", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", placeholder = "Podaj nazwe kategorii" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Stwórz" class="btn btn-default" />
                </div>
            </div>
        </div>
        }
    </div>
</div>

        <div>
            @Html.ActionLink("Wróć", "Kategorie", null, new { @class = "backtolist" })
        </div>
