@model IEnumerable<Biblioteka.Models.Account>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1>Biblioteka System</h1>

<div>
    <table>
        <tr>
            <th>Nr.</th>
            <th>Nazwa</th>
            <th>ID</th>
        </tr>
        @{
            int counter = 1;
            foreach (var u in Model)
            {
        <tr>
            <td>@counter</td>
            <td>@u.id_account</td>
            <td>@u.name</td>
            <td>@u.surname</td>
            <td>@u.pesel</td>
            <td>@u.login</td>
            <td>@u.email</td>
            <td>@u.password</td>
            <td>@u.activ</td>
            <td><i class="icon-edit"></i>@Html.ActionLink("Edytuj", "Edit", new { id = u.id_account })</td>
            <td><i class="icon-folder-open"></i>@Html.ActionLink("Szczególy", "Details", new { id = u.id_account })</td>
            <td><i class="icon-trash-empty"></i>@Html.ActionLink("Kasuj", "Delete", new { id = u.id_account }, new { onclick = "return confirm('Czy chcesz na pewno usunać?');" })</td>
        </tr>
                counter += 1;
            }

        }

    </table>
   
</div>