
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Biblioteka</title>
    <link rel="stylesheet" href="~/Content/Style-main_site.css">
    <link rel="stylesheet" href="~/Content/fontello/css/basket.css">
    <link rel="stylesheet" href="~/Content/MDB-Free_4.5.15/css/mdb.min.css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/JavaScript.js"></script>
    <!--validacja-->
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type='text/javascript'></script>
    @* SELECT2 *@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

</head>
<body>
    <header>

        <nav class="navbar navbar-light navbar-expand-lg fixed-top default-color ">


            <button class="navbar-toggler navbartext" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainmenu">

                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        @Html.ActionLink("Biblioteka", "Index", "Home", new { area = "" }, new { @class = "nav-link " })

                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navabardrop" data-toggle="dropdown">
                            Kategorie
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item">
                                @Html.ActionLink("Dodaj kategorie", "Add", "Category", new { area = "" }, new { @class = "nav-link" })
                            </a>
                            <a class="dropdown-item">
                                @Html.ActionLink("Wyświetl kategorie", "Index", "Category", new { area = "" }, new { @class = "nav-link" })
                            </a>

                        </div>
                    </li>



                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Lista Kategorii", "Index", "Category", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Książki", "Index", "Book", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Dodaj książkę", "Add", "Book", new { area = "" }, new { @class = "nav-link" })
                    </li>

                </ul>

                @*<form class="form-inline">

                        <input class="form-control mr-1" type="search" placeholder="Wyszukaj" aria-label="Wyszukaj">
                        <button class="btn btn-light" type="submit">Znajdź</button>

                    </form>*@
                <ul class="navbar-nav navbar-right">


                    @if (Session["login"] == null)
                    {
                        <li class="nav-item ">
                            @Html.ActionLink("Załóż konto", "Add", "Account", new { area = "" }, new { @class = "nav-link" })
                        </li>


                        <li class="nav-item ">
                            @Html.ActionLink("Zaloguj", "Login", "Home", new { area = "" }, new { @class = "nav-link icon-login" })
                        </li>

                    }
                    <li id="user" class="nav-item">

                        <a class="navbar-text icon-user">
                            @if (Session["login"] != null)
                            {
                                @Session["login"].ToString()
                                //@Html.ActionLink(@Session["login"].ToString(),"Details","Account",null,null)
                            }
                        </a>
                    </li>




                    @if (Session["login"] != null)
                    {
                        <li class="nav-item ">
                            <a class="nav-link navbartext icon-logout" href="@Url.Action("Logout","Home")">Wyloguj</a>

                        </li>

                    }

                    @if (Session["login"] != null)
                    {
                        <li class="nav-item">

                            @Html.ActionLink("Koszyk", "Koszyk", "Home", new { area = "" }, new { @class = "nav-link icon-basket" })

                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Koszyk">

                                @if (Session["login"] != null)
                                {
                                    @Session["Licznik"].ToString();
                                }

                            </a>
                        </li>
                    }
                </ul>

            </div>

        </nav>




    </header>

    <div id="intro" class="view flex-center">


        <div class=" container-fluid full-bg-img d-flex align-items-center justify-content-center mask flex-center rgba-black-light">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 text-center">
                    <div id="Search">
                        <h1>Wyszukaj książkę która Cię interesuje</h1>
                    </div>
                    <div>
                        @using (Html.BeginForm("Index", "Book", FormMethod.Get, new { @class = "form-inline" }))
                        {
                            <input name="searching" class="form-control flex-fill" type="search" placeholder="wyszukaj" aria-label="Wyszukaj" />
                            <select id="Histories" style="width:500px"></select>

                        }
                    </div>
                    <div class="text-white">
                        <h2>
                            Newsy:
                        </h2>            
                        <ul>
                            @foreach (var news in ViewBag.News)
                            {
                            <div>
                                <div style="float:left;">Dodał: @news.AccountID |</div>
                                <div style="float:left;">|Data: @news.Date</div>
                                <div style="clear:both;">Tytuł: @news.Title</div>
                                <div>Treść: @news.Content</div>

                                <hr />
                            </div>
                            }

                        </ul>
                    </div>
                </div>
            </div>

        </div>



    </div>



    <footer>

        <div class="info text-light">
            Wszelkie prawa zastrzeżone <a style="text-decoration:none; color:white;" href="/Admin/Admin">&copy;</a> @DateTime.Now.Year - System Biblioteki

        </div>

    </footer>




    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/MDB-Free_4.5.15/js/mdb.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#Histories").select2({
                placeholder: "Wyszukaj",
                theme: "classic",
                ajax: {
                    url: "/Book/GetHistory",
                    dataType: "json",
                    data: function (params) {
                        return {
                            searchTerm: params.term
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: data
                        };
                    }
                }
            });
        });

                //$(".Country").on("change", function () {
                //    var CounrtyID = $(this).val();
                //    $(".CountryId").val(CounrtyID);
                //    var textBoxVal = $(".CountryId").val();
                //    $.ajax({
                //        url: "/Home/GetStateList?CountryIDs=" + textBoxVal,
                //        dataType: 'json',
                //        type: 'post',
                //        success: function (data) {
                //            $(".State").empty();
                //            $.each(data, function (index, row) {
                //                $(".State").append("<option value='" + row.StateId + "'>" + row.StateName + "</option>")
                //            });
                //        }
                //    });
                //});
    </script>
</body>
</html>
