@model IEnumerable<Biblioteka.Models.Borrowing>
@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

<h1>Lista Lista</h1>

<div>
    <table>
        <tr>
            <th>id</th>
            <th>Kto</th>
            <th>Co</th>
            <th>Kiedy</th>
            <th>Do kiedy</th>
            <th>kolejka</th>
            <th>kara</th>
        </tr>
        @if (Model != null)
        {
            foreach (var u in Model)
            {
                <tr>
                    <th>@u.id_borrow</th>
                    <th>@u.id_reader</th>
                    <th>@u.id_books</th>
                    <th>@u.date_borrow</th>
                    <th>@u.date_back</th>
                    <th>@u.id_queue</th>
                    <th>@u.id_penalty</th>
                </tr>
            }
        }
        </table>
</div>