@model Biblioteka.Models.Account
@{
    ViewBag.Title = "Login";
}


<div id="bg-login" class="view flex-center">
    @using (Html.BeginForm("Login", "Home", new { ReturnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post))
    {
        <div class="container-fluid full-bg-image d-flex align-items-center justify-content-center mask flex-center rgba-black-light">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 text-center">
                    <div>
                        <h1>Login</h1>
                        @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                        @ViewBag.LoginErrorMessage
                    </div>
                    <div >
                        <h1>Hasło</h1>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        @ViewBag.LoginErrorMessage
                    </div>
                    <div class="mt-1">
                        <button type="submit" class="btn btn-default">Zaloguj się</button>
                        <button type="reset" class="btn btn-cyan">Wyczyść</button>
                    </div>
                </div>
            </div>

        </div>
        @TempData["Message"]
    }
</div>