@model IEnumerable<Biblioteka.Models.Borrowing>
@{
    ViewBag.Title = "Lista";
}

<h2>Index</h2>

<h1>Lista </h1>

<div>
    <table>
        <tr>
            <th>id</th>
            <th>Kto</th>
            <th>Co</th>
            <th>Kiedy</th>
            <th>Do kiedy</th>
            <th>kolejka</th>
            <th>kara</th>
        </tr>
        @if (Model != null)
        {
            foreach (var u in Model)
            {
                <tr>
                    <th>@u.BorrowID</th>
                    <th>@u.ReaderID</th>
                    <th>@u.Books</th>
                    <th>@u.Borrow_date</th>
                    <th>@u.Return_date</th>
                    <th>@u.QueueID</th>
                    <th>@u.PenaltyID</th>
                </tr>
            }
        }
    </table>
</div>